@font-face {
    font-family: SF Pro Display;
    src: url(SFProDisplay-Heavy.woff2);
  }

* {
    box-sizing: border-box;
    text-decoration: none;;
  }



html{
    background-color: #1E1E1E;

    font-family: 'SF Pro Display';
    font-weight: 900;
    font-style: normal;
}


.text{
    color: white;
    text-align: center;

    margin: 0 auto;

    text-align: center;

    margin: 0 auto;


}